<nav class="vertical-nav">
    <img src="assets/bx-search.png" alt="Search" class="search-icon" />
    <input type="text" placeholder="Search" class="search-box">
    <img src="assets/Language.svg" alt="Language" class="clr-img language-icon"/>
    <img src="assets/Dashboard.svg" alt="Language" class="clr-img dashboard-icon" />
    <img src="assets/Mode.svg" alt="Language" class="clr-img mode-icon"/>
    <img src="assets/Notifications.svg" alt="Language" class="clr-img notifications-icon"/>
    <div class="admin-details">
        <img src="assets/Active-status-1.png" alt="Active-status-1" class="admin-img">
        <div>
        <p class="admin-name">Jhon Abraham</p>
        <p class="designation"><b>Admin</b></p>
        </div>
        <img src="assets/side_arrow.svg" alt="down_arrow" class="down-arrow">
    </div>
</nav>
