<div class="header">
    <div class="header-contents">
        <div class="page-name"><p class="dashboard-name">DashBoard</p><p class="app-title">To-Do App</p></div>
        <div class="add-task-button-header" (click)="addTask('add-task')">
            <div class="btn-content">
                <div class="value">
                    Add Task
                </div>
                <div class="icon">
                    <div class="horizantal"></div>
                    <div class="vertical"></div>
                </div>
            </div>
        </div>
        <div class="sign-out-btn" (click)="logout()">
            <div> 
                <span>Sign out</span>
                <img src="/assets/signOutlogo.svg" >
            </div>
        </div>
    </div>
    
    <select class="menu-drop-down" [(ngModel)]="dropDown" (change)="taskNavigation()">
        <option value="Dashboard">Dashboard</option>
        <option value="Active">Active</option>
        <option value="completed">completed</option>
    </select>

    <!-- <select class="form-control" (change)="onChange('user')" [(ngModel)]="selectedUser">
        <option value="" disabled selected="selected">By User</option>
        <option *ngFor="let user of allUsers" value="{{user.id}}">{{user.first_name}}  - {{user.email}}</option>
      </select> -->
</div>

