<p class="heading">Add Employee</p>
        <section class="add-employee">
            <div class="profile-img">
                <img src="assets/user-profile.jpg" alt="user-profile">
                <p class="m-0">Edit</p>
            </div>
            <form id="employee-details" [formGroup]="customForm" (ngSubmit)="onSubmit()" class="custom-form">
                <div class="personal-info">
                <h3>Personal Information</h3>
                <div class="display-flex" id="emp-no">
                <label for="Emp-no">Emp No</label>
                <input type="text" placeholder="Text" formControlName="id" class="form-control" >
                <div *ngIf="customForm?.get('id')?.errors?.['idTooShort']">ID must be exactly 6 characters long.</div>
                </div>
                <div class="basic-info">
                    <div class="display-flex" id="first-name">
                        <label for="FirstName">First Name</label>
                        <input type="text" placeholder="Text" formControlName="firstName" class="form-control">
                        <div *ngIf="customForm?.get('firstName')?.errors?.['required'] ">First Name is required.</div>
                        <div *ngIf="customForm?.get('firstName')?.errors?.['minlength']">First Name must be at least 3 characters long.</div>
                    </div>
                    <div class="display-flex " id="last-name">
                        <label for="LastName">Last Name</label>
                        <input type="text" placeholder="Text" formControlName="lastName" class="form-control" >
                        <div *ngIf="customForm?.get('lastName')?.errors?.['required']">Last Name is required.</div>
                        <div *ngIf="customForm?.get('lastName')?.errors?.['minlength']">Last Name must be at least 3 characters long.</div>
                    </div>
                    <div class="display-flex" id="date-of-birth">
                        <label for="Date of Birth">Date of Birth</label>
                        <input type="date"  placeholder="&#128197; Select" class="form-control" formControlName="dateOfBirth" >
                        <div *ngIf="customForm?.get('dateOfBirth')?.errors?.['ageLessThan18']">Age must be greater than 18.</div>
                    </div>
                </div>
                <div class="basic-info">
                    <div class="display-flex" id="email-id">
                        <label for="email">Email Id</label>
                        <input type="email" placeholder="Jeo.j@technovert.com" class="form-control" formControlName="email">
                        <div *ngIf="customForm?.get('email')?.errors?.['required']">Email is required.</div>
                    </div>
                    <div  id="mobile-number" class="display-flex">
                        <label for="mobileNo">Mobile Number</label>
                        <input type="text" placeholder="0000000000"  class="form-control"  pattern="[6789][0-9]{9}" formControlName="mobileNumber"/>

                    </div>
                </div>
                </div>
                
                <div class="employee-info">
                <h3>Employement Information</h3>
                <div class="basic-info">
                    <div class="display-flex" id="joining-date">
                        <label for="joiningDate">Joining Date</label>
                        <input type="date" class="form-control" formControlName="joiningDate">
                        <div *ngIf="customForm?.get('joiningDate')?.errors?.['required']">JoiningDateb is required.</div>
                    </div>
                    <div class="display-flex">
                        <label for="Location">Location</label>
                        <select class="form-control" formControlName="locationId">
                            <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="basic-info">
                    <div class="display-flex">
                        <label for="Job Title">Job Title</label>
                        <select class="form-control" formControlName="roleId">
                            <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
                        </select>
                    </div>
                    <div class="display-flex">
                        <label for="Department">Department</label>
                        <select formControlName="departmentId" class="form-control">
                            <option value="none" selected disabled hidden>select</option>
                            <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="basic-info">
                    <div class="display-flex">
                        <label for="Assign Manager">Assign Manager</label>
                        <select formControlName="managerId" class="form-control">
                            <option value="none" selected disabled hidden>select</option>
                            <option value="Ramesh">Ramesh</option>
                            <option value="Suresh">Suresh</option>
                            <option value="Dinesh">Dinesh</option>
                        </select>
                    </div>
                    <div class="display-flex">
                        <label for="Assign project">Assign project</label>
                        <select formControlName="projectId" class="form-control">
                            <option value="none" selected disabled hidden>select</option>
                            <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
                        </select>
                    </div>
                </div>
                </div>
                <div class="buttons">
                    <input type="button" value="Cancel" class="cancel-btn" (click)="navigate()" [class.remove-btn]="Url.includes('view')">
                    @if(Url.includes('view'))
                    {
                        <input type="button" value="Close" class="add-btn" (click)="navigate()">
                    }
                    @else
                    {
                        <input type="submit" value="Add Employee" class="add-btn">
                    }
                </div>
            </form>

        </section>